
body{

    font-family: "Poppins", system-ui;
}
.title-1{
    background: linear-gradient(to top left ,rgba(8, 192, 54, 0.333), rgba(197, 7, 222, 0.467), rgb(4, 227, 86));
}
.left-content{
   border-bottom: 3px dashed rgb(45, 214, 138);
   border-left: 2px solid greenyellow;
   border-right: 2px solid greenyellow;

            
    padding: 1rem;
    border-radius: 1rem;
    overflow-y: scroll;
    

}
.divider1{
    border: 2px dashed rgb(4, 220, 227);
}
.live-link{
    transition: .5s;
}
.live-link:hover{
    background-color: aquamarine;
    padding:0  1rem;
    border-radius: .5rem;
}
